
body{
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  
  
  margin-top: 30px;
}

.logo {
  width: 200px;       
  height: 150px;
  text-decoration-color: beige;
  display: inline-block;
}


header {
  background-color: #222;
  color: white;
  padding: 40px 0;
}


main {
  flex: 1;
  
  padding: 40px 20px 100px; 
  max-width: 700px;
  margin: 0 auto;
}


section {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

@media (min-width: 769px) and (max-width: 992px) {
  .contact1{
  flex: 1;
  
  padding: 40px 20px 100px; 
  max-width: 700px;
  margin: 0 auto;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .about1{
  flex: 1;
  
  padding: 40px 20px 100px; 
  max-width: 700px;
  margin: 0 auto;
  }
}